<!DOCTYPE html>
<html>
    <head>
        <title>Dancing With Doggos</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picnic/6.4.0/picnic.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn-dashboard.c3metrics.com/img/favicon.ico">
        <meta name="theme-color" content="#612074">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width">
        <style>
         .center {
             text-align: center;
         }
         .google-img {
             width: 40%;
             display: block;
             margin: 0 auto;
             margin-top: .4em;
         }
         .btn {
             margin-top: .4em;
             margin-bottom: 1em;
             color: #fff;
             background-color: #612074;
         }
         .image {
             border-radius: 50%;
             width: 120px;
             height: 120px;
             margin: 0;
             -webkit-animation:spin 4s linear infinite;
             -moz-animation:spin 4s linear infinite;
             animation:spin 4s linear infinite;
         }
         @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
         @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
         @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
         @media screen and (max-width: 750px) {
             .google-img {
                 width:80%;
             }
         }
        </style>
    </head>
    <body class="center">
        {{{body}}}
    </body>
</html>
