<h1>Pupper Lovin'</h1>
<img class="image" src="https://oi42.tinypic.com/33dfo5e.jpg">
<section>
    <p>
        Our <i>crowd-sourced, web-scale yet cloud-based, monolithic, distributed api infrastructure</i> will let
        you reaffirm your love for puppies.

    </p>
    <p> {{test}} </p>
    <a href="{{authUrl}}">
        <button class="btn">Authorize Account</button>
    </a>
</section>
{{#if accessTokens}}
<section>
    <h2>Access Tokens</h2>
    <p><i>Here are tokens to folks that have submitted to the puppers</i></p>
    <ul>
        {{#each accessTokens}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</section>
{{/if}}
